# Hoist transitive deps that need to be resolved from the root (Next, ROLL).
node-linker=hoisted
# Fail on missing/failed peer dep warnings that aren't fatal but indicate breakage.
strict-peer-dependencies=false
auto-install-peers=true
# Allow lockfile to be patched by `pnpm patch`.
prefer-frozen-lockfile=true
